.search-bar {
    margin: 3rem auto;
    color: #6F6F70;
    font-size: 1.5rem;
    background-color: #F1F3F4;
    border-radius: 10px;
    grid-gap: 10px;
    gap: 10px;
    width: 50%;
    min-width: 17rem;
    padding: 0.5rem;
    justify-content: space-between;
}

.search-bar-input {
    font-family: inherit;
    width: 90%;
    background: transparent;
    border: transparent;
    padding: 1rem;
    font-size: 1rem;
}