@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;

  --PRIMARY-COLOR: #664DE5;
  --BLACK: #080B11;
  --WHITE: #FFFFFF;
  --GRAY: #d7d7d7;
  --DARK-GRAY: #656565;
  --xs: 0.5rem;
  --sm: 1rem;
  --md: 1.2rem;
  --lg: 2rem;
  --xl: 2.5rem;
  --xxl: 5rem;
}

.gray{
  color: var(--DARK-GRAY);
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-start{
  justify-content: flex-start;
}

.gap-md{
  gap: var(--md);
}
.gap-sm{
  gap: var(--sm);
}

.gap-xs{
  gap: var(--xs);
}

.pad-0{
  padding: 0;
}

.pad-xl{
  padding: 4rem;
}